<div class="container col-lg-6 mt-3">
  <h1 class="text-center">Create a new listing</h1>
  <%= simple_form_for @listing do |f| %>
    <%= f.input :title %>
    <%= f.input :description, as: :text %>
    <%= f.input :rental_price, label: "Rental rate per day", as: :decimal %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit %>
  <% end %>
</div>
