<div class="container col-lg-3 mt-3">
  <h1><%= @listing.title %></h1>
  <% if @listing.photos.any? %>
    <%= cl_image_tag @listing.photos.first.key, height: 500, width: 500, crop: :fill, class: "img-fluid" %>
  <% else %>
    <%# Put a default here %>
  <% end %>
  <p><%= @listing.description %></p>
  <p class="fs-3 fw-bold">$<%= number_with_precision(@listing.rental_price, precision: 2) %> per day</p>
  <%# if @listing.availability %>
    <%# link_to "Book now", new_listing_booking_path(@listing), class: "btn btn-primary"  %>
  <%# else %>
    <%# <p class="text-align-center" style="color: red"><%= "This item already has a booking until #{@booking.end_date.to_date}"</p>  %>
    <%# link_to "Book now", new_listing_booking_path(@listing), class: "btn btn-primary disabled"  %>
<%# end %>
<% unless @listing.user == current_user %>
  <%= link_to "Book now", new_listing_booking_path(@listing), class: "btn btn-primary"  %>
<% end %>
</div>
