<div class="container col-lg-3 mt-3">
  <h1>Dashboard</h1>
  <h2>My Listings</h2>
  <ul class="list-group">
    <% @listings.each do |listing| %>
    <li class="list-group-item">
      <%= link_to listing_path(listing) do %>
        <%= listing.title %>
      <% end %>
      <%= link_to edit_listing_path(listing) do %>
        <i class="fa-solid fa-pen-to-square"></i>
      <% end %>
      <%= link_to "", listing_path(listing),
                    class: "fa-sharp fa-solid fa-trash",
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
                  %>
                  <i class="fa-solid fa-trash-can-xmark"></i>
    </li>
  <% end %>
  </ul>
  <h2 class="mt-3">My Bookings</h2>
  <ul class="list-group">
    <% @bookings.each do |booking| %>
    <li class="list-group-item"><%= Listing.find(booking.listing_id).title %> (Return by: <%= booking.end_date.strftime('%B %e ') %>)</li>
  <% end %>
  </ul>
</div>
