<div class="container col-lg-4 mt-3">
  <h1>Dashboard</h1>
  <h2>My Listings</h2>
  <ul class="list-group">
    <% @listings.each do |listing| %>
    <li class="list-group-item mb-2">
      <div class="d-flex align-items-center justify-content-between">
        <% if listing.photos.any? %>
          <%= cl_image_tag listing.photos.first.key, class: "card-img-top", style: "width: 100px" %>
        <% else %>
          <img src="https://res.cloudinary.com/dq9hvwxj8/image/upload/v1669199190/hhth1iyyoguqnzs7hg9e.jpg" alt="Placeholder" style="width: 100px">
        <% end %>
        <div class="flex-fill ms-2">
          <h2><%= listing.title %></h2>
        </div>
        <div>
          <%= link_to rentals_path(listing), title: "Rentals", target: :_blank do %><i class="fa-solid fa-calendar-days"></i><% end %>
          <%= link_to listing_path(listing), title: "View", target: :_blank do %><i class="fa-solid fa-eye"></i><% end %>
          <%= link_to edit_listing_path(listing), title: "Edit" do %><i class="fa-solid fa-pen-to-square"></i><% end %>
          <%= link_to listing_path(listing), title: "Delete", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %><i class="fa-sharp fa-solid fa-trash"></i><% end %>
        </div>
      </div>
    </li>
  <% end %>
  </ul>
  <h2 class="mt-3">My Bookings</h2>
  <ul class="list-group">
    <% @bookings.each do |booking| %>
    <li class="list-group-item mb-2"><%= Listing.find(booking.listing_id).title %> (Returned by: <%= booking.end_date.strftime('%B %e ') %>)</li>
  <% end %>
  </ul>
</div>
